body {
    background-color: rgb(232, 223, 223);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    
    align-self: center;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff4136;
}

h1, h2, h3, h4, p {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

h1:hover {
    color:#ff4136
}
h4:hover {
    color:#ff4136
}

code {
    color:#4b0704
}

li {
    text-align: center;
    border: 20px;
    margin: auto;
}

li {
    list-style: none;
    padding: 10px;
    border-color: #d58b8b;
    border: 1px solid #ccc
    transition; transform : 0.2s;
}

li:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0,0,0.2)
}

#finishWorkoutBtn {
    display: auto;
}

#workoutSection {
    display: auto;
}

img {
    align-items: center;
}

#jumpinggif{
  /* align-self: center; */
    width: 400px; 
  height: 400px;
  cursor: pointer;
  transition: transform 0.2s;
}

.shake {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-10px, 0); }
    40% { transform: translate(10px, 0); }
    60% { transform: translate(-10px, 0); }
    80% { transform: translate(10px, 0); }
    100% { transform: translate(0, 0); }
  }


  /* Define a sweat drop animation */
@keyframes sweat-drop {
    0% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
    50% {
      transform: translateY(20px) scale(0.8);
      opacity: 0.7;
    }
    100% {
      transform: translateY(40px) scale(0.6);
      opacity: 0;
    }
  }
  
  /* this makes sweat drop active */
  .sweat-drop {
    width: 20px;
    height: 20px;
    background-color: rgb(44, 128, 153); 
    border-radius: 50%;
    position: relative;
    animation: sweat-drop 2s ease-in-out infinite; /* Adjust the duration and timing as needed */
  }

  /* confetti */

.confetti {
  width: 10px;
  height: 10px;
  background-color: #4b0704;
  /* color of confetti */
  position: absolute;
  animation: fall 1s ease-out infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0)
    rotate(0deg);
  }
  100% {
    tranform: translateY(600px)
    rotate(360deg);
  }
}
